.UpdateTaskStatusModal {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 122px;
  height: 208px;
  background: #393d41;
  border: 1px solid #94979a;
  border-radius: 8px;
  padding: 8px 0px;
  margin: 5% 0 0 5%;
  /* margin: 5% 0 0 3%; */
  /* margin: -2.7% 0 0 26.5%; */
}
.UpdateTaskStatusModal > p {
  text-align: start;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.75px;
  color: #94979a;
  padding-left: 16px;
}
.UpdateTaskStatusModal > button {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background: transparent;
  padding: 4px 16px 4px 16px;
  align-items: center;
  text-align: justify;
  font-weight: 400;
  font-size: 15px;
  white-space: nowrap;
  letter-spacing: 0.75px;
  color: #ffffff;
}
