.Adds {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32px;
  gap: 16px;
}
.Adds button {
  display: flex;
  flex-direction: row;
  background: rgba(148, 151, 154, 0.1);
  padding: 4px 16px 4px 16px;
  gap: 0 8px;
  align-items: center;
  height: 100%;
  border-radius: 4px;
}
.Adds button p {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.75px;
  margin-top: 5%;
}
.Estimate img {
  width: 20px;
  height: 18px;
}
.Person img {
  width: 16px;
  height: 21px;
}
.Tag img {
  width: 20.8px;
  height: 20.8px;
}
.Calendar img {
  width: 20px;
  height: 20px;
}
