.myTaskContainer {
  display: flex;
  flex-direction: column;
  width: clamp(10rem, 76.945vw, 300rem);
  flex: 1;
  margin-top: clamp(24px, 1.667vw, 30rem);
  row-gap: clamp(1rem, 1.112vw, 30rem);
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .myTaskContainer {
    margin-top: 1rem;
    width: 100%;
    max-height: 70vh;
    margin-left: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .myTaskContainer {
    margin-left: clamp(16px, 4.103vw, 5rem);
    max-height: 593px;
  }
}
