.plusContainer {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  width: clamp(2.5rem, 2.778vw, 10rem);
  aspect-ratio: 1 / 1;
  border-radius: clamp(0.5rem, 0.556vw, 4rem);
  background: var(--color-primary-4);

  .plus {
    width: clamp(14px, 0.973vw, 10rem);
    aspect-ratio: 1 / 1;
    color: var(--color-neutral-1);
  }
}
.plusMobileContainer {
  display: none;
}
.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 900px) {
  .plusContainer {
    flex-direction: column;
    margin-left: 0;
    justify-content: start;
    width: fit-content;
    height: 100%;
    border-radius: 0;
    background: transparent;

    .plus {
      display: none;
    }
  }
  .plusMobileContainer {
    cursor: pointer;
    color: var(--color-neutral-2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    transition: color 0.3 ease 0.1;

    .plusMobileWrapper {
      width: clamp(1.5rem, 1.667vw, 30rem);
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .plusMobile {
        width: clamp(20px, 5.13vw, 3rem);
      }
    }

    &:active {
      color: var(--color-primary-4);
    }
    .title {
      font-weight: 400;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: 1px;
      text-align: center;
      text-wrap: nowrap;
    }
  }
}
