.Timer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.points {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.75px;
  margin-top: 6px;
}
.clock {
  display: flex;
  flex-direction: row;
  padding: 4px 16px;
  gap: 8px;
  width: 115px;
  height: 32px;
  background: rgba(148, 151, 154, 0.1);
  border-radius: 4px;
  align-items: center;
}
.clock p {
  font-weight: 600;
  font-size: 15px;
  margin-top: 4px;
  color: #ffffff;
}
.clock img {
  width: 20.51px;
  height: 19.25px;
}
