.Tags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  height: 32px;
}
.Tags div {
  padding: 8px 16px 4px 16px;
}
.ios {
  background: rgba(112, 178, 82, 0.1);
  border-radius: 4px;
}
.android {
  background: rgba(229, 180, 84, 0.1);
  border-radius: 4px;
}
.Tags p {
  font-weight: 600;
  font-size: 15px;
}
.Tags div:nth-child(1) {
  color: #70b252;
}
.Tags div:nth-child(2) {
  color: #e5b454;
}
