.Panel {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 20px;
}
.Panel > div {
  width: calc(100% / 3);
  overflow: scroll;
}
.Panel > div > h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
