.iconWrapper {
  cursor: pointer;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(1.5rem, 1.667vw, 5rem);
  aspect-ratio: 1 / 1;

  .icon {
    width: clamp(1.125rem, 1.25vw, 5rem);
  }
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-3);
  width: clamp(138px, 9.584vw, 100rem);
  height: clamp(88px, 6.112vw, 100rem);
  border-radius: clamp(0.5rem, 0.556vw, 10rem);
  gap: clamp(0.5rem, 0.556vw, 10rem);
  border: clamp(1px, 0.2vw, 10rem) solid
    var(--color-neutral-2);
}

.option {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-neutral-1);
  gap: clamp(0.5rem, 0.556vw, 10rem);
  width: clamp(122px, 8.473vw, 100rem);
  height: clamp(2rem, 2.223vw, 10rem);

  .iconWrapper {
    width: clamp(1.5rem, 1.667vw, 5rem);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: clamp(1rem, 1.112vw, 5rem);
    color: var(--color-neutral-1);

    .delete {
      width: clamp(1.25rem, 1.39vw, 20rem);
    }
  }
}
