.container {
  width: clamp(10rem, 76.945vw, 300rem);
  height: clamp(3rem, 3.334vw, 50rem);
  display: flex;
  align-items: center;

  .iconWrapper {
    background: var(--color-neutral-5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(2.5rem, 2.778vw, 10rem);
    aspect-ratio: 1 / 1;

    .text {
      display: none;
    }
    .icon {
      color: var(--color-neutral-1);
      width: clamp(1.125rem, 1.25vw, 5rem);
      aspect-ratio: 1 / 1;
      transition: color 0.3s ease 0.1s;
      transition: transform 0.1s ease 0.1s;
    }

    &:hover {
      background: linear-gradient(
        90deg,
        rgba(186, 37, 37, 0) 0%,
        rgba(210, 77, 77, 0.1) 100%
      );
    }
    &:hover .icon {
      color: var(--color-primary-4);
      transform: scale(1.1);
    }
    &.active {
      border-radius: clamp(0.5rem, 0.556vw, 4rem);
      border: 1px solid var(--color-primary-4);
      background: linear-gradient(
        90deg,
        rgba(186, 37, 37, 0) 0%,
        rgba(210, 77, 77, 0.1) 100%
      );

      .icon {
        color: var(--color-primary-4);
      }
    }
  }
  .plusButtonWrapper {
    width: auto;
    height: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: row-reverse;
    width: clamp(20.125rem, 82.566vw, 100rem);
    height: clamp(2.5rem, 10.257vw, 3.2rem);
    background: var(--color-neutral-4);
    border-radius: clamp(10px, 2.567vw, 30rem);
    padding: clamp(4px, 1.026vw, 10rem);
    flex-shrink: 0;

    .iconWrapper {
      width: 50%;
      height: clamp(32px, 8.207vw, 2.5rem);
      background: transparent;

      .icon {
        display: none;
      }
      .text {
        color: var(--color-neutral-1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: clamp(13px, 3.334vw, 1.2rem);
        line-height: 13px;
        letter-spacing: 1px;
      }

      &.active {
        background: var(--color-neutral-2);
        border: 0;
        border-radius: clamp(8px, 2.055vw, 30rem);
      }
    }

    .plusButtonWrapper {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    align-self: center;
    margin-top: 1rem;
  }
}
