.assignee-button,
.assignee-focused {
  display: flex;
  flex-direction: row;
  padding: 4px 16px 4px 16px;
  gap: 0 8px;
  align-items: center;
  height: 100%;
  border-radius: 4px;
}
.assignee-button {
  background: rgba(148, 151, 154, 0.1);
}
.assignee-focused {
  background: transparent;
}
.assignee-img {
  width: 32px;
  width: 32px;
  border-radius: 50%;
}
.person-img {
  width: 16px;
  height: 21px;
}
.Assignee p {
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.75px;
  margin-top: 5%;
  white-space: nowrap;
}
